<% content_for :banner do %>
  <section>
    <div>
      <ul>
        <li id="b1">
          <a href="/t/categories/obudowy">
            <%= image_tag "store/slideshow/nowosci.png", :width => 960, :height => 303, :alt => "New Arrivals" %>
          </a>
        </li>
        <li id="b2">
          <a href="/t/categories/monitory">
            <%= image_tag "store/slideshow/monitory.png", :width => 960, :height => 303, :alt => "Monitory" %>
          </a>
        </li>
        <li id="b3">
          <a href="/t/categories/myszy">
            <%= image_tag "store/slideshow/akcesoria.png", :width => 960, :height => 303, :alt => "New Arrivals" %>
          </a>
        </li>
        <li id="b4">
          <a href="/t/categories/karty-graficzne">
            <%= image_tag "store/slideshow/karty.png", :width => 960, :height => 303, :alt => "New Arrivals" %>
          </a>
        </li>
      </ul>
    </div>
  </section>

  <nav id="banner-nav">
    <ul>
      <li class="first"><a href="#">&laquo;</a></li>
      <li class="current" id="b1_handle" ><a href="#">nowości</a></li>
      <li id="b2_handle"><a href="#">monitory</a></li>
      <li id="b3_handle"><a href="#">akcesoria</a></li>
      <li id="b4_handle"><a href="#">karty graficzne</a></li>
      <li class="last"><a href="#">&raquo;</a></li>
    </ul>
  </nav>

<% end %>

<div id="taxons" class="clearfix">
  <% %w{myszy monitory klawiatury zasilacze karty-graficzne obudowy}.each do |group| %>
    <% url = "t/categories/#{group}" %>
    <div class="taxon">
      <h3><%= link_to group.humanize.tr('-', ' '), url %></h3>
      <%= link_to url do %>
        <%= image_tag("store/homepage/taxons/#{group}.png", :class => "image", :alt => group) %><br>
      <% end %>
      <%= link_to 'Zobacz', url, :class => 'button' %>
    </div>
  <% end %>
</div>


<div id="all-products" class="list-box">
  <h2>Wszystkie produkty</h2>
  <div class="left">
    <ul>
      <% @taxons.each_with_index do |taxon,i| %>
        <% next if i % 2 == 0 %>
        <li><%= raw link_to(taxon.name, seo_url(taxon)) %></li>
      <% end %>
    </ul>
  </div>
  <div class="right">
    <ul>
      <% @taxons.each_with_index do |taxon,i| %>
        <% next if i % 2 == 1 %>
        <li><%= raw link_to(taxon.name, seo_url(taxon)) %></li>
      <% end %>
    </ul>
  </div>
</div>

<div id="contact">
  <div>
    <h2>Kontakt</h2>
    <p class="phone">(+48) 42 111 222 33</p>
    <p><a href="mailto:sklep@atut.pl" class="email">sklep@atut.pl</a>
    <table>
      <tr>
        <td>Poniedziałek - piątek</td> <td>10:00 - 18:00</td>
      </tr>
      <tr>
        <td>Sobota</td> <td>10:00 - 13:00</td>
      </tr>
      <tr>
        <td>Niedziela</td> <td>Zamknięte</td>
      </tr>
    </table>
  </div>
</div>

<% if tracker = Spree::Tracker.current %>
  <script type="text/javascript">
    var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
    document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
  </script>

  <script type="text/javascript">
    var pageTracker = _gat._getTracker("<%= tracker.analytics_id %>");
    pageTracker._initData();
    pageTracker._trackPageview('/demo_launch');
  </script>
<% end %>
